extends layout

block sheets
  link(rel='stylesheet', href='/stylesheets/style.css')

block scripts
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/scripts.js')

block content
  #container
    .top
      h1 唯品会json
    .middle
      textarea(id='jsonInput',placeholder='请输入json数据')
    .bottom
      a(id='inputSubmit',href='#') Go!

  #showContent

